/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 15;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 1.45em;  // ~39.056px
$type-size-2                : 1.253em;  // ~31.248px
$type-size-3                : 1.153em;  // ~25.008px
$type-size-4                : 1em;   // ~20px
$type-size-5                : 0.9em;      // 1em => ~16px
$type-size-6                : 0.75em;   // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px
$type-size-9                : 0.9em;  // ~10px


/*
   Colors
   ========================================================================== */

$background-color: #1c1f24;
$text-color: #b8bec9;
$primary-color: #5b8d37;
$link-color: #85ad69;
$link-color-hover: #56b6c2;
$link-color-visited: #c678dd;
$code-background-color: #171a1f;
$code-background-color-dark: #14161a;
$border-color: #3e4451;

$body-color : $background-color;

/* syntax highlighting */
$syntax-highlighting-background-color: $code-background-color;
$syntax-base00: #282c34; // background
$syntax-base01: #353b45; // gutter
$syntax-base02: #3e4451; // selection
$syntax-base03: #5c6370; // comments
$syntax-base04: #abb2bf; // foreground
$syntax-base05: #e06c75; // red
$syntax-base06: #599e28; // green
$syntax-base07: #e5c07b; // yellow
$syntax-base08: #61afef; // blue
$syntax-base09: #c678dd; // magenta
$syntax-base0a: #56b6c2; // cyan
$syntax-base0b: #d19a66; // orange

$gray                       : #5c6370;
$dark-gray                  : #3e4451;
$darker-gray                : #282c34;
$light-gray                 : #abb2bf;
$lighter-gray               : #b2c2cd;

$success-color              : #98c379;
$warning-color              : #e5c07b;
$danger-color               : #e06c75;
$info-color                 : #1c83d6;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
// $link-color                 : $info-color;
$link-color-hover           : mix(#000, $link-color, 25%);
$link-color-visited         : mix(#fff, $link-color, 25%);
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : $light-gray;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
