
/*
   One Dark Pro theme
   ========================================================================== */

$background-color: #282c34;
$text-color: #abb2bf;
$primary-color: #61afef;
$link-color: #61afef;
$link-color-hover: #56b6c2;
$link-color-visited: #c678dd;
$code-background-color: #21252b;
$code-background-color-dark: #21252b;
$border-color: #3e4451;

$body-color : $background-color;

/* syntax highlighting */
$syntax-highlighting-background-color: $code-background-color;
$syntax-base00: #282c34; // background
$syntax-base01: #353b45; // gutter
$syntax-base02: #3e4451; // selection
$syntax-base03: #5c6370; // comments
$syntax-base04: #abb2bf; // foreground
$syntax-base05: #e06c75; // red
$syntax-base06: #68b134; // green
$syntax-base07: #e5c07b; // yellow
$syntax-base08: #61afef; // blue
$syntax-base09: #c678dd; // magenta
$syntax-base0a: #56b6c2; // cyan
$syntax-base0b: #ca813c; // orange

$gray                       : #5c6370;
$dark-gray                  : #3e4451;
$darker-gray                : #282c34;
$light-gray                 : #abb2bf;
$lighter-gray               : #b2c2cd;

$success-color              : #98c379;
$warning-color              : #e5c07b;
$danger-color               : #e06c75;
$info-color                 : #61afef;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #abb2bf;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;
